pre, p {
    font-size: 1;
    color: black;
    background-color: transparent;
}

#body {
  background-image: none;
}

*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 20px;
}


header, nav, section, article, aside, footer{
    background: #E6E6E6;
    display: block;
}

 body{

    text-align: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: auto, auto;
    background-image: url(https://images6.alphacoders.com/100/thumb-1920-1000031.jpg);
    background-attachment: fixed;
}


#caja_principal{
    width: 900px;
    margin: 15px auto;
    text-align: left;
}


#cabecera{
    
    background: rgb(248, 8, 8);
    border: 1px solid #000000;
    padding: 10px;
}

#barra_navegacion{
    background-color: black;
}

#barra_navegacion ul li{
display: inline-block;

}

#barra_navegacion ul li a{
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

#barra_navegacion ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#barra_navegacion ul li a:hover{
    background-color: rgb(24, 21, 218);
}


#seccion1{
    border: solid;
    float: left;
    width: 580px;
    margin: 20px;
    background: #E6E6E6;
}

#seccion2{
    border: solid;
    float: left;
    width: 580px;
    margin: 20px;
    background: #E6E6E6;
}

#seccion4{
    border: solid;
    float: left;
    width: 580px;
    margin: 20px;
    background: #E6E6E6;
}

#seccion3{
    border: solid;
    float: left;
    width: 580px;
    margin: 20px;
    background: #E6E6E6;
}

.img1{
    float: left;
    width: 140px;
    height: 200px;
    margin: 20px 0px 
}



#columna{
    border: solid;
    float: right;
    width: 200px;
    margin: 20px 0px;
    padding: 20px;
    background: #D8D8D8;
}

#columna2{
    border: solid;
    float: right;
    width: 200px;
    padding: 20px;
    background: #D8D8D8;
}


#pie{
    background: rgb(248, 8, 8);
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #000000;

}
