
*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 20px;
}


header, nav, section, article, aside, footer{
    display: block;
}

body{
    text-align: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: auto, auto;
    background-image: url(https://images6.alphacoders.com/100/thumb-1920-1000031.jpg);
    background-attachment: fixed;
}


#caja_principal{
    width: 900px;
    height: 500;
    margin: 30px auto;
    text-align: left;
}


#cabecera{
    background: #FAFAFA;
    border: 1px solid #000000;
    padding: 20px;
}



#barra_navegacion{
    background-color: black;
}

#barra_navegacion ul li{
display: inline-block;

}

#barra_navegacion ul li a{
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

#barra_navegacion ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#barra_navegacion ul li a:hover{
    background-color: rgb(24, 21, 218)
}

#pilares{
    border: solid;
    float: left;
    width: 680px;
    margin: 20px;
    background: #E6E6E6;
}


#Overview{
    border: solid;
    float: left;
    width: 580px;
    margin: 20px;
    background: #E6E6E6;
}

#Habilidades{ border: solid;
    float: left;
    width: 580px;
    margin: 20px;
    background: #E6E6E6;
}

#historia{
    border: solid;
    float: left;
    width: 580px;
    margin: 20px;
    background: #E6E6E6;
}

.img1{
    float: left;
    width: 140px;
    height: 210px;
    margin: 10px 0px 
}

#columna2{
    border-style: solid;
    float: left;
    width: 200px;
    margin: 20px 0px;
    padding: 10px;
    background: #D8D8D8;
}

#columna{
    float: right;
    width: 200px;
    margin: 20px 0px;
    padding: 20px;
    background: #D8D8D8;
}

#pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #000000;

}